.cartBg{
    background-color: rgb(240, 239, 239) !important;
   
}
.cartg{
    background-color: rgb(218, 217, 217) !important;
    transition:0.9s !important;
   
}
.cartg1{
   
    transition:0.9s !important;
   
}